canvas {
  border: 10px rgb(60, 60, 60) solid;
}

body {
  background-color: #000;
}

#game {
  display: inline-block;
  position: relative;
}

#transition {
  background-color: black;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  opacity: 0;
  pointer-events: none;
}

#battle-text {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  height: 100px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}